           <section id="about-us">
            <div class="container">
                <div class="box">
                    <div class="center">
                        <h2>Meet the Team</h2>
                        <p class="lead">These are the main contributors to the AtlanticWave SDX project</p>
                    </div>
                    <div class="gap"></div>
                    <div id="team-scroller" class="carousel scale">
                        <div class="carousel-inner">
                            <div class="item active"> 
                                <div class="member" style="float:left">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team1.jpg" alt="" ></p>
                                    </div>
                                    <h3>Sean Donovan<small class="designation">Software Engineer</small></h3>
                                </div>
                                <div class="member" style="float:right">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team2.jpg" alt="" ></p>
                                    </div>
                                    <h3>Jerônimo Bezerra<small class="designation">Software Engineer</small></h3>
                                </div>
                            </div>
                            <div class="item" style="margin:0 auto;">
                                <div class="member" style="float:left">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team4.jpg" alt="" ></p>
                                    </div>
                                    <h3>Ankita Lamba<small class="designation">Graduate Security Researcher</small></h3>
                                </div>
                                <div class="member" style="float:right">
                                    <div style="width:200px;height:200px;overflow:hidden">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="static/images/team5.jpg" alt="" ></p>
                                    </div>
                                    <h3>John Skandalakis<small class="designation">Graduate Student</small></h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="member" style="float:center">
                                    <div style="width:200px;height:200px;overflow:hidden;float:center">
                                        <p style="float:center"><img style="float:center" class="img-thumbnail img-circle" src="static/images/team3.jpg" alt="" ></p>
                                    </div>
                                    <h3>Russell Clark<small class="designation">Co-director, GT-RNOC</small></h3>
                                </div>
                            </div>
                        </div>
                        <a class="left-arrow" href="#team-scroller" data-slide="prev">
                            <i class="icon-angle-left icon-4x"></i>
                        </a>
                        <a class="right-arrow" href="#team-scroller" data-slide="next">
                            <i class="icon-angle-right icon-4x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

