    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>AtlanticWave SDX</h1>
                        <p class="lead">The AtlanticWave/SDX is a distributed research and education network Internet exchange point (IXP)<br><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Use cases for this IXP</h1>
                        <p class="lead">Distribution of terabytes of data from new American telescopes located in the Atacama Desert of Chile back to the US. This traffic is bursty in nature, only during certain hours, and will require near-full utilization of the anticipated links between Atlanta, Miami, São Paulo and Chile</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section>
