                    <form action="rule" method="POST" id="NetworkEngr" class="tabcontent">
                      <div class="col-sm-4">
                        <p>Enter the start date: <input type="text" class="form-control" required="required" id="startdate" name="startdate"> </p> 
                        <p>Enter the start time: <input type="time" class="form-control" required="required" id="starttime" name="starttime"> </p> 
                        <p>Enter the end date: <input type="text" class="form-control" required="required" id="enddate" name="enddate"> </p> 
                        <p>Enter the end time: <input type="time" class="form-control" required="required" id="endtime" name="endtime"> </p>           
                      </div>
                      <div class="col-sm-4">
                        <p>Enter the desired bandwidth:
                            <input type="number" class="form-control" required="required" id="bw" name="bw" placeholder="Bandwidth in GB" min="1" max="100"> </p>
                            <p>Enter the physical port number at source:
                            <input type="number" class="form-control" required="required" id="sp" name="sp" placeholder=" Source Port#" min="0" max="65535"> </p>
                            <p>Enter the physical port number at destination:
                            <input type="number" class="form-control" required="required" id="dp" name="dp" placeholder="Destination Port#" min="0" max="65535"> </p>
                      </div>

                      <div class="col-sm-4">
                        <p>Enter the source VLAN:
                            <input type="number" class="form-control" required="required" id="sv" name="sv" placeholder="Source VLAN" min="0" max="4090"> </p>
                            <p>Enter the destination VLAN:
                            <input type="number" class="form-control" required="required" id="dv" name="dv" placeholder="Destination VLAN" min="0" max="4090"> </p>
                      </div>
                      <div class="col-sm-4">
                        <p>Select source: 
                        <select class="form-control" required="required" id="source" name="source">{% for item in switches %}
                            <option value="{{ item[0] }}">{{ item[1]}}</option>{% endfor %}
                        </select> </p>
                        <p>Select destination: 
                            <select class="form-control" id="dest" name="dest" required="required">{% for item in switches %}
                                <option value="{{ item[0] }}">{{ item[1]}}</option>{% endfor %}
                            </select> </p>
                      </div>
                      
                      <div class="row" align="center">
                          <button type="test" class="btn btn-danger btn-lg" align="middle">Preview</button>
                          <button type="submit" class="btn btn-danger btn-lg" align="middle">Submit</button>
                      </div>
                    </form>
