{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    {% include "navbar.html" %}
    {% include "carousel.html" %}

    {% if view['topo']
        {% include "topology_panel.html" %}
    {% endif %}
    {% if view['about'] %}
        {% include "about.html" %}
    {% endif %}

    {% if logged_out and shibboleth %}
        {% include "about.html" %}
        {% include "login_shibboleth.html" %}
    {% elif logged_out %}
        {% include "about.html" %}
        {% include "login.html" %}
    {% elif current_user %} 
        {% include "request_panel.html" %}
        {% include "logout.html" %}
    {% endif %}
{% endblock %}
