    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a {% if not home %}onclick="location.href = '/#topology';"{% endif %} href="/#topology">Topology</a></li>
                        <li><a {% if not home %}onclick="location.href = '/#requests';"{% endif %} href="/#requests">Requests</a></li>
                        <li><a {% if not home %}onclick="location.href = '/#about-us';"{% endif %} href="/#about-us">About Us</a></li>
                        <li><a {% if not home %}onclick="location.href = '/#login';"{% endif %} href="/#login">{{ current_user.id }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

