{% extends "request_panel_base.html" %}
    {% block script %}
    <style>
    .tabcontent {display:none;}
    </style>

        <script> 
        function role(evt, roleName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className.replace(" active", "");
            }
            document.getElementById(roleName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        </script>
    {% endblock %}
