{% extends "base.html" %}
{% block title %}Rules{% endblock %}
{% block content %}
    <section id="rules-table">
        <div class="container">
{% if policy['l2t'] %}{% include "engineer_rules_table.html" %}{% endif %}
{% if policy['ecp']  %}{% include "science_rules_table.html" %}{% endif %}
            {% if policy['delete'] %} <form action="/rule/all/" method="POST" onsubmit="return confirm('Are you sure you want to delete all rules?');">
                <button type="submit" class="btn btn-danger btn-lg" align="center">Delete All Rules</button>
            </form> {% endif %}
        </div>
    </section>
{% endblock %}
