                    <form action="rule/ecp" method="GET" id="Scientist" class="tabcontent">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                        <p>Source:  
                            <select class="form-control" required="required" id="srcendpoint" name="srcendpoint">{% for item in dtns %}
                                <option value="{{ item }}">{{ dtns[item] }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p>Destination:  
                            <select class="form-control" required="required" id="dstendpoint" name="dstendpoint">{% for item in dtns %}
                                <option value="{{ item }}">{{ dtns[item] }}</option>{% endfor %}
                            </select>
                        </p>
                        <p>Deadline:
                            <input type="datetime-local" class="form-control" id="deadline" name="deadline" required="required" value="2017-01-01T12:00:01">
                            <script src=https://momentjs.com/downloads/moment.min.js>
                            document.getElementById("deadline").value = new Date();
                            </script>
                        </p>
                        <p>Size:
                            <input type="number" class="form-control" required="required" id="dataquantity" name="dataquantity" size=8>
                            <select class="form-control" required="required" id="unit" name="unit">
                                <option value="1">bytes</option> 
                                <option value="1000">Kb</option>
                                <option value="1000000">Mb</option>
                                <option value="1000000000">Gb</option>
                                <option value="1000000000000">Tb</option>
                            </select>
                        </p>
                      </div>
                      <div class="col-sm-4"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
                      <div class="row" align="center">
                        <br><br><br><button type="test" class="btn btn-danger btn-lg" align="middle">Preview</button>
                        <button type="submit" class="btn btn-danger btn-lg" align="middle">Submit</button>
                      </div>
                    </form>
