                <div class="center gap">
                    <h2>Topology</h2>
                    <p class="lead">This is the current network topology</p>
                </div>
                <ul class="portfolio-items col-2">
                    <li class="portfolio-item apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="static/images/topo/thumb/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Network Topology 2016" href="static/images/topo/full/item1.jpg"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item joomla bootstrap">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="static/images/topo/thumb/item2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Network Topology 2017" href="static/images/topo/full/item2.jpg"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 

                        </div>
                    </li>
                </ul>   

