            <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
                <!-- Table Header -->
                <br>
                <center><h1 style="color:white;">User List</h1></center>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Roles</th>
                        <th>Settings</th>
                    </tr>
                </thead>

                <!-- Table Body -->
                <tbody>
                    {% for user in user_list %}
                    <tr>
                        <td>{{ user['email'] }}</td>
                        <td>{% for item in privs[user['role']] %}{{ item }}{% endfor %}</td>
                        <td>{{ user['settings'] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <!-- Table Body -->
            </table>

